@inherits ControlRendererBase

@if (OnClick != null)
{
    <div class="controlRenderer setCursorPointer @(GridState.Draw == DrawState ? "isDrawState" : "")" @onclick="(() => OnClick(OnClickParameter))">
        @foreach (string nodeRendererClass in NodeRendererClasses)
        {
            <div class="nodeRenderer @nodeRendererClass" style="display: inline-block;">

            </div>
        }
        @Title
    </div>
}
else
{
    <div class="controlRenderer">
        @foreach (string nodeRendererClass in NodeRendererClasses)
        {
            <div class="nodeRenderer @nodeRendererClass" style="display: inline-block;">

            </div>
        }
        @Title
    </div>
}
